.flicking-pagination-bullet-active {
  background-color: var(--v-accent-base) !important;
}
.flicking-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: var(--v-surface-base);
  cursor: pointer;
  font-size: 1rem;
}
