.article-card {
  transition: 0.2s ease-in-out;
  &:hover {
    .article-image {
      transition: 0.2s ease-in-out;
      box-shadow: rgb(0 0 33 / 7%) 0px 16px 22.4px 4.8px,
        rgb(0 0 33 / 5%) 0px 3.2px 16px 0px, rgb(0 0 33 / 7%) 0px 0px 1px 0px;
      -webkit-transform: translate3D(0, -3%, 0);
      -moz-transform: translate3D(0, -3%, 0);
      -ms-transform: translate3D(0, -3%, 0);
      transform: translate3D(0, -3%, 0);
    }

    .article-title {
      transition: 0.2s ease-in-out;
      color: var(--v-secondary-base);
    }
  }
}
